@model List<Inventory>

<h2>Inventories</h2>

<a href="/Inventory/Create" class="btn btn-primary">Create</a>
<a class="btn btn-danger" id="btnDelete">Delete</a>

<table class="table table-striped-columns table-hover align-middle">
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="btn-check" id="btn-check-outlined">
                <label class="btn btn-outline-secondary" for="btn-check-outlined">Select all</label>
            </th>
            <th>Title</th>
            <th>Description</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inv in Model)
        {
            <tr class="inventory-row" style="cursor:pointer;" data-id="@inv.Id">
                <td><input class="form-check-input" type="checkbox" value="@inv.Id"/></td>
                <td>@inv.Title</td>
                <td>@inv.Description</td>
                <td>@inv.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/index_inventory.js"></script>

<script>    

</script>